<div>
	<div class="title">Startseite</div>
    <p>Editor's Choice Rezepte:</p>
    <div style="width: 100%;">
        <div style="float: left; width: 33%; min-width: 300px;">
            <a class="media-left" href="/recipe/1">
                <img src="http://images.tagseoblog.de/bilder/bild-foto/bild.jpg" width="100%" alt="...">
            </a>
            <a href="/recipe/1">Lasagne</a>
        </div>
        <div style="float: left; width: 33%; min-width: 300px;">
            <a class="media-left" href="/recipe/2">
                <img src="http://images.tagseoblog.de/bilder/bild-foto/bild.jpg" width="100%" alt="...">
            </a>
            <a href="/recipe/2">Steak</a>
        </div>
        <div style="float: left; width: 33%; min-width: 300px;">
            <a class="media-left" href="/recipe/3">
                <img src="http://images.tagseoblog.de/bilder/bild-foto/bild.jpg" width="100%" alt="...">
            </a>
            <a href="/recipe/3">Lady am Spieß</a>
        </div>
    </div>
</div>