
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> -->

<form id="kontaktformular" method="post">
    <fieldset>
        <legend>Kontaktformular</legend>
        <input type="text" name="firstn" placeholder="Vorname"/> <br>
        <input type="text" name="lastn" placeholder="Nachname"/> <br>
        <input type="email" name="email" placeholder="E-Mail-Adresse"/> <br>
        <input type="text" name="subject" placeholder="Betreff"/> <br>
        <textarea type="text" name="message" rows="6" cols="50" size="1000" maxlength="1000" placeholder="Nachricht"></textarea> <br>
    </fieldset>
    
    <input type="submit" name="formaction" value="Senden" />
</form>