<div width="100%">
    <a style="width: 100%">
        <img src="http://images.tagseoblog.de/bilder/bild-foto/bild.jpg" height="100px" width="100%" alt="...">
    </a>
    <span> {{ @result.name }}</span>
    <p>[Hier kommen Buttons hin:]</p><button data-toggle="modal" data-target="#addIngredientDialog">Zum Kühlschrank hinzufügen</button>
    <div>
    	<p>Beschreibung:</p>
        {{ @result.description }}
    	<p>Aufbewahrung:</p>
        {{ @result.storage }}
        <p>Basiseinheit:</p>
    </div>
    
    <div id="addIngredientDialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Zutat zum Kühlschrank hinzufügen</h4>
                </div>
                <div class="modal-body">
                    <p>Wieviel dieser Zutat hast du im Kühlschrank?</p>
                    <input placeholder="Hier Zahlen und manuelle Eingabemöglichkeit rein"></input>
                    <p>[Hier Einheit hinzufügen]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="$('#addIngredientDialog').modal('hide');">Okay</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>